/*---------------------------------------*\
 * ScrollUp Font Icon Theme.
\*---------------------------------------*/

/**
 * Main element.
 */
#scrollup {

  /* Initial state is hidden to avoid FOUC. Use the ScrollUp's `init` class to show. */
  display: none;

  /* Core styles */
  position: fixed;
  z-index: 1000;

  /* Theme styles */
  bottom: 0;
  right: 30px;
  width: 70px;
  height: 70px;
  margin-bottom: -10px;
  padding: 12px 10px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #8e44ad;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
     -moz-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out;
}

/**
 * ScrollUp's `init` class.
 * Is applied when ScrollUp is first activated.
 */
#scrollup.animated {

  /**
   * ScrollUp's `init` class. Applied when ScrollUp is first activated.
   * This is where you set the trigger visible.
   */
  display: block;
}
