/*---------------------------------------*\
 * ScrollUp Image Theme.
\*---------------------------------------*/

/**
 * Main element.
 */
#scrollup {

  /* Initial state is hidden to avoid FOUC. Use the ScrollUp's `init` class to show. */
  display: none;

  /* Core styles */
  position: fixed;
  z-index: 1000;

  /* Theme styles */
  bottom: 20px;
  right: 20px;
  width: 38px;    /* width of image */
  height: 38px;   /* height of image */
  opacity: 0.9;
  background-image: url("../../img/top.png");
  cursor: pointer;
}

/**
 * Hover.
 */
#scrollup:hover {
  bottom: 25px;
}

/**
 * ScrollUp's `init` class. Applied when ScrollUp is first activated.
 * This is where you set the trigger visible.
 */
#scrollup.animated {
  display: block;
}
